.container {
    margin: auto;
    max-width: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
  }

.heading {
    color: black;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    color: black;
}

.nav-link-item{ 
    padding-right: 2rem;
    color: black;
}

.nav-link-text{
    color: black;
}

.site-title {
    font-size: 3rem;
    color: #0B0C10;
    font-weight: 700;
    margin: 3rem 0;
}